* {
    border: 1px solid red;
}
.page {
  max-width: 1280px;
  margin: auto;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}
body {
    background: #2A2C2F;
    padding-right: 10px;
    padding-left: 10px;
}
.header {
    max-width: 1184px;
    min-height: 52px;
    margin: 28px 48px 0;
    display: flex;
    justify-content: space-between;
}

.header__logo {
    box-sizing: content-box;
    object-fit: contain;
}

.header__lang-link {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 18px;
    align-self: flex-end;
}
.header__lang-link-ru {
    color: white;
    
}
.header__lang-link-en {
    text-decoration: none;
    color: white;
}
.lead {
    display: flex;
    flex-direction: column;
    margin: 56px auto 0;
    max-width: 984px;
    /*min-height: 1005px;*/
    position: relative;


    word-wrap: break-word;
    
}
.lead__title {
    max-width: 720px;
    min-height: 200px;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto 0;
}
.lead__subtitle {
    max-width: 640px;
    min-height: 72px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    margin: 32px auto 0;
}
.lead__image {
    padding: 0;
    margin-top: 64px;
    max-width: 984px;
    max-height: 615px;
    object-fit: cover;
}
.lead__caption {
    margin-top: 8px;
    margin-bottom: 0;
    max-width: 159px;
    min-height: 14px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #FFFFFF;
    word-wrap: break-word;
}
.intro {
    max-width: 690px;
    min-height: 428px;
    margin-top: 92px;
    word-wrap: break-word;
}
.intro__title {
    margin-top: 0;
    margin-bottom: 40px;
    width: 690px;
    min-height: 58px;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    color: #FFFFFF;
}
.intro__text {
    width: 690px;
    min-height: 208px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}
.intro__list {
    width: 690px;
    height: 90px;
    font-family: Inter;
    font-style: normal;
    ont-weight: bold;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
}